@media (min-width: 768px) {

    body {
        justify-self: center;
    }

    #ham-button {
        display: none;
    }

    header {
        grid-template-columns: 100%;
    }

    #heading-w-img {
        grid-template-columns: auto auto;
        justify-content: center;
    }

    #header-img {
        max-width: 130px;
    }

    #heading {
        margin-left: 0;
        margin-top: 1.5rem;
        line-height: 50px;
    }

    #heading-1 {
        font-size: 3rem;
    }

    #heading-2 {
        font-size: 1.5rem;
    }

    .nav-bar {
        flex-direction: row;
        background-color: transparent;
        max-height: 80px;
        opacity: 1;
    }

    .nav-bar a {
        display: block;
        flex: 1 1 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1.5rem;
    }

    #cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        align-items: stretch;
    }

    #table-view {
        display: table;
    }

    tr {
        display: table-row;
    }

    td {
        display: table-cell;
    }

    #table-view.hide, #cards.hide {
        display: none;
    }

    .active::before {
        padding-right: 0.5rem;
        font-size: small;
    }

    .active::after {
        padding-left: 0.5rem;
        font-size: small;
    }
}

@media (min-width: 1211px) {

    footer {
        display: grid;
        grid-template-columns: 34% 32% 34%;
    }

    #contact {
        text-align: right;
    }

    #info {
        text-align: left;
    }

    nav a:hover {
        background-color: var(--light-green);
        color: black;
        font-weight: 700;
    }
    
}