@media (min-width: 768px) {

    body {
        justify-self: center;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    
      header nav {
        display: flex;
      }
    
      header nav a:hover {
        background-color: unset;
        text-decoration: solid;
      } 
    
      header nav a:hover {
        background-color: #ddd;
        color: black;
      }
    
      header span {
        display: none;
      }

    #cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        align-items: stretch;
    }

    #table-view {
        display: table;
    }

    tr {
        display: table-row;
    }

    td {
        display: table-cell;
    }

    #table-view.hide, #cards.hide {
        display: none;
    }

    .active::before {
        padding-right: 0.5rem;
        font-size: small;
    }

    .active::after {
        padding-left: 0.5rem;
        font-size: small;
    }
}

@media (min-width: 1211px) {

    footer {
        display: grid;
        grid-template-columns: 34% 32% 34%;
    }

    #contact {
        text-align: right;
    }

    #info {
        text-align: left;
    }

    nav a:hover {
        background-color: var(--light-green);
        color: black;
        font-weight: 700;
    }
    
}