
:root {
  --font-text: "Roboto", system-ui;
  --body-text: "Arial san serif";
  --color-primary: #19195b;
  --color-active: #d5ef2a;
  --color-touch: #000000 ;
  --color-white: #ffffff;
  --color-background: #e8e8e0;
  --body-color: beige;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  background-color: var(--color-background);
} 

.card img {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
} 

.card figcaption {
  display: block;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}
  

 header {
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0 30px; 
  margin-top: 20px;
 }

 header h1 {
  padding: 0 20px;
 }

 header img {
  width: 70px;
  height: 100px;
  border-radius: 3px;
 }


 .float {
  margin: 20px;
 }


#navBar {
  display: none;
  background-color: var(--color-touch);
  align-items: center;
  justify-content: center; 
  justify-items: center;
  padding: 20px;
  margin: 0 30px; 
} 

#navBar.display {
  display: flex;
  flex-direction: column;
}

#navBar a {
  display: flex;
  color: var(--color-white);
  justify-content: space-between;
  justify-content: center;
  margin: 0 20px;
  padding: 10px;
} 

.active {
  background-color: var(--color-active);
} 

.web {
  display: grid;
  margin: 0 60px;
}

.web h3 {
  background-color: var(--color-primary);
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filters {
  display: grid;
  grid-auto-flow: column;
  grid-column: 1fr 1fr 1fr 1fr;
  margin: 0 100px;
  padding: 0 10px;

}

.filters button{
  background-color: var(--color-touch);
  color: var(--color-white);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

#courses {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  place-items: center;
}

.card {
  background-color: var(--color-white);
  margin: 0 40px;
} 

.card h2 {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.card ul li {
  margin: 0 40px;
}  

hr {
  margin: 20px;
}

.card ul li {
  margin-bottom: 10px;
  
}

.card ul li a {
  text-decoration: underline;
  color: darkblue;
  transition: color 0.3s;
} 

.footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 20px;
  justify-items: center;
  margin: 0 30px;
}

.footer img {
  display: block;
  width: 50px;
} 