
:root {
  --font-text: "Roboto", system-ui;
  --body-text: "Arial san serif";
  --color-primary: #19195b;
  --color-secondary: #96461e;
  --color-touch: #000000 ;
  --color-white: #ffffff;
  --color-background: #e8e8e0;
  --color-red: #ff0000;
  --body-color: beige;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  background-color: var(--color-background);
} 

.card img {
  width: 150px;
  height: auto;
  padding: 20px;
  margin: 20px;
} 
  

 header {
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0 30px; 
 }

 header h1 {
  padding: 0 20px;
 }

 .float {
  margin: 20px;
 }
 
nav {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-touch);
  align-items: center;
  justify-content: center; 
  justify-items: center;
  padding: 20px;
  margin: 0 30px; 
}


.nav-container a {
  color: var(--color-white);
  justify-content: space-between;
  justify-content: center;
  margin: 0 20px;
}

.web {
  display: grid;
  background-color: var(--color-white);
  margin: 0 60px;
}

.web h3 {
  background-color: var(--color-primary);
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 20px;
  color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filters {
  display: grid;
  grid-auto-flow: column;
  grid-column: 1fr 1 fr 1fr;
  margin: 0 30px;

}

.filters button{
  background-color: var(--color-touch);
  color: var(--color-white);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.card {
  background-color: var(--color-white);
  margin: 0 40px;
} 

.card h2 {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.card ul li {
  margin: 0 40px;
}  

.me {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

hr {
  margin: 20px;
}

.card ul li {
  margin-bottom: 10px;
  
}

.card ul li a {
  text-decoration: underline;
  color: darkblue;
  transition: color 0.3s;
} 

footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 20px;
  /* align-content: center; */
  /* align-items: center; */
  /* justify-content: center; */
  justify-items: center;
  margin: 0 30px;
}