@media only screen and (min-width: 760px) {
  .float {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    
  }
  
  body {
    justify-self: center;
  }

  header span{
    display: none;
  }
  
  #navBar {
    display: flex;
  }

  #navBar ul {
    display: flex;
    padding: 10px;
  }

  
  #navBar ul.display {
  display: flex;
  flex-direction: row;
  }

  #courses-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: 1fr;

} 
} 